body{
  font-family: "plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
/* Header Styling */
.navbar{
    border-bottom: solid black 2px;
    background-color: white;
    height: 5rem;
}

.nav-link:hover{
  text-decoration: underline;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    font-weight: bold !important;
}

/* Footer styling */

footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .f-info-socials i {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .f-info-socials i:hover {
    color: #007bff;
  }
  
  .f-info-brand {
    margin-top: 10px;
    color: #555;
  }
  
  .f-info-links {
    margin-top: 5px;
  }
  
  .f-info-links a {
    color: #007bff;
    margin: 0 8px;
    text-decoration: none;
  }
  
  .f-info-links a:hover {
    text-decoration: underline;
  }
  
  /* cards */
  .listing-card{
    border: none !important; 
    margin-bottom: 2rem;
  }
  .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
  }
  .card-body{
    padding: 0 !important;
    
  }
  .listing-link{
    text-decoration: none;
  }

  /* card Effect */
  .card-img-overlay{
    opacity: 1;
  }
  .card-img-overlay:hover{
    opacity: 0.2; 
    background-color: white;
  }

  /* New Listing */
.add-btn{
  background-color: #fe424d !important;
}
.add-btn:hover{
  border: solid black 2px;  
}

/* Edit Page */
.edit-btn{
  background-color: #fe424d !important;
  border: none !important; 
}
.edit-btn:hover{
  background-color: #e41220 !important;
}

/* Show page */
.show-img{
  height: 30vh;
}

.btns{
  display: flex;
}

.show-card{
  padding-left: 0;
  padding-right: 0;
}

/* map */
#map { 
  height: 400px;
  width: 500px;
}

.custom-popup {
  padding: 10px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.custom-popup h4 {
  margin: 0;
  font-size: 16px;
}
.custom-popup p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}

.search-inp {
  border-radius: 25px 0 0 25px;
  border: 1px solid #ced4da;
}

.btn-search {
  background-color: #fe424d;
  color: white;
  border-radius: 0 25px 25px 0;
  padding: 0 1rem;
}

.btn-search:hover {
  background-color: #fe424d;
  color: white;
}

.btn-search i {
  margin-right: 0.5rem;
}